<div class="container-fluid main-div p-0 desktopVi">
  <div class="main-row">
    <div class="menu-colu">
      <div class="row mt-5 clickable">
        <div class="col-4 pe-0 d-flex justify-content-end align-items-center">
          <img src="home.png" alt="Icon" />
        </div>
        <div class="col-8 d-flex justify-content-start align-items-center">
          <span class="not-all-black lato-font">Home</span>
        </div>
      </div>
      <div class="row mt-4 clickable">
        <div class="col-4 pe-0 d-flex justify-content-end">
          <img src="wealth.png" alt="Icon" />
        </div>
        <div class="col-8 d-flex justify-content-start">
          <span class="not-all-black lato-font">My wealth</span>
        </div>
      </div>
      <div class="row mt-4 clickable">
        <div class="col-4 pe-0 d-flex justify-content-end">
          <img src="rupees.png" alt="Icon" />
        </div>
        <div class="col-8 d-flex justify-content-start">
          <span class="not-all-black lato-font">Invest</span>
        </div>
      </div>
      <div class="row mt-4 clickable">
        <div class="col-4 pe-0 d-flex justify-content-end">
          <img src="wisdom.png" alt="Icon" />
        </div>
        <div class="col-8 d-flex justify-content-start">
          <span class="not-all-black lato-font">Wisdom</span>
        </div>
      </div>
      <div class="row mt-4 clickable">
        <div class="col-4 pe-0 d-flex justify-content-end">
          <img src="reports.png" alt="Icon" />
        </div>
        <div class="col-8 d-flex justify-content-start">
          <span class="not-all-black lato-font">Reports</span>
        </div>
      </div>
      <div class="row mt-4 clickable">
        <div class="col-4 pe-0 d-flex justify-content-end">
          <img src="percent.png" alt="Icon" />
        </div>
        <div class="col-8 d-flex justify-content-start">
          <span class="not-all-black lato-font">Income tax filing</span>
        </div>
      </div>
      <div class="row mt-4 clickable">
        <div class="col-4 pe-0 d-flex justify-content-end">
          <img src="admin.png" alt="Icon" />
        </div>
        <div class="col-8 d-flex justify-content-start">
          <span class="not-all-black lato-font">Refer a friend</span>
        </div>
      </div>
      <div class="row mt-4 clickable">
        <div class="col-4 pe-0 d-flex justify-content-end">
          <img src="about.png" alt="Icon" />
        </div>
        <div class="col-8 d-flex justify-content-start">
          <span class="not-all-black lato-font">About</span>
        </div>
      </div>
      <div class="mt-4 px-4">
        <div class="row border-top">
          <div class="col-12 d-flex justify-content-center mt-3">
            <div class="profile-pic mt-4">
              <img src="face.png" alt="Profile Picture" />
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div
            class="col-12 d-flex justify-content-center lato-font"
            style="font-weight: 600"
          >
            Joy Lobo
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12 d-flex justify-content-center">
            <img src="settings.png" alt="Profile Picture" />
          </div>
        </div>
      </div>
    </div>
    <div class="center-colu px-4">
      <div class="row py-4">
        <div class="col-12 d-flex justify-content-end align-items-center">
          <img
            src="notification.png"
            class="notification me-5"
            alt="notification"
          />
          <img src="support.png" class="notification me-5" alt="notification" />
          <div
            id="search-wrapper"
            class="d-flex justify-content-around align-items-center"
          >
            <img
              src="search.png"
              class="ms-2 notification"
              alt="Profile Picture"
            />
            <input type="text" id="search" placeholder="Search " />
          </div>
        </div>
      </div>
      <div class="row m-0 d-flex justify-content-between">
        <div class="col-amount p-4">
          <div class="row">
            <div class="col-12 d-flex justify-content-between">
              <div class="total-fam-w">TOTAL FAMILY WEALTH</div>
              <div class="d-flex">
                <span class="plus4 me-4">+4</span
                ><span class="memb">Members</span>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12 crFz">2.58 CR</div>
          </div>
          <div class="row mt-5">
            <div class="col-8">
              <div class="row">
                <div class="col-6">
                  <span class="fz-14" style="color: #ff7101">Invested</span>
                  <br />
                  <span class="fz-16 fw-700">2,30,00,000</span>
                </div>
                <div class="col-6">
                  <span class="fz-14" style="color: #ff7101">Gain/Loss</span>
                  <br />
                  <span class="fz-16 fw-700">+ 28,00,435</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-invest p-4">
          <div class="row">
            <div class="col-12 text-light fz-16">
              Invest in mutual funds easily!
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 text-light fz-11">
              <p>
                Algorithmically selected mutual funds to grow your money, and
                meet your life goals
              </p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 text-light fz-14">Get started</div>
          </div>
        </div>
      </div>
      <div
        class="row m-0 mt-4 p-3 border-radius-10"
        style="background-color: #ffffff"
      >
        <div class="inv-num">
          <div class="inv-box text-center" style="border: 1px solid #f58024">
            <span class="fz-16" style="color: #b0b0b0">Investments</span>
            <br />
            <span class="fz-20">82.05 L</span>
          </div>
          <div
            class="inv-box text-center mt-3"
            style="border: 1px solid whitesmoke"
          >
            <span class="fz-16" style="color: #b0b0b0">Insurance</span>
            <br />
            <span class="fz-10" style="color: #b0b0b0">Coming soon</span>
          </div>
          <div
            class="inv-box text-center mt-3"
            style="border: 1px solid whitesmoke"
          >
            <span class="fz-16" style="color: #b0b0b0">Insurance</span>
            <br />
            <span class="fz-10" style="color: #b0b0b0">Coming soon</span>
          </div>
        </div>
        <div class="inv-cent">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-8 d-flex align-items-center">
                  <div
                    class="icon-back d-flex justify-content-center align-items-center"
                  >
                    <img src="mutual-fund.png" alt="Profile Picture" />
                  </div>
                  <span class="fz-13 ms-4">Mutual funds</span>
                </div>
                <div
                  class="col-4 d-flex justify-content-between align-items-center"
                >
                  <div>
                    <span class="fz-14">40.20 L</span>
                    <br />
                    <span class="fz-12" style="color: #63bf97">+5.01 L</span>
                  </div>
                  <div class="fz-25" style="color: #b0b0b0">></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-3 mt-2" style="border-top: 1px solid whitesmoke">
            <div class="col-12">
              <div class="row">
                <div class="col-8 d-flex align-items-center">
                  <div
                    class="icon-back d-flex justify-content-center align-items-center"
                  >
                    <img src="insurance.png" alt="Profile Picture" />
                  </div>
                  <span class="fz-13 ms-4">Insurance</span>
                </div>
                <div
                  class="col-4 d-flex justify-content-between align-items-center"
                >
                  <div>
                    <span class="fz-14">40.20 L</span>
                    <br />
                    <span class="fz-12" style="color: #63bf97">+5.01 L</span>
                  </div>
                  <div class="fz-25" style="color: #b0b0b0">></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-3 mt-2" style="border-top: 1px solid whitesmoke">
            <div class="col-12">
              <div class="row">
                <div class="col-8 d-flex align-items-center">
                  <div
                    class="icon-back d-flex justify-content-center align-items-center"
                  >
                    <img src="stock.png" alt="Profile Picture" />
                  </div>
                  <span class="fz-13 ms-4">Stocks</span>
                </div>
                <div
                  class="col-4 d-flex justify-content-between align-items-center"
                >
                  <div>
                    <span class="fz-14">40.20 L</span>
                    <br />
                    <span class="fz-12" style="color: #63bf97">+5.01 L</span>
                  </div>
                  <div class="fz-25" style="color: #b0b0b0">></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-3 mt-2" style="border-top: 1px solid whitesmoke">
            <div class="col-12">
              <div class="row">
                <div class="col-8 d-flex align-items-center">
                  <div
                    class="icon-back d-flex justify-content-center align-items-center"
                  >
                    <img src="realEstate.png" alt="Profile Picture" />
                  </div>
                  <span class="fz-13 ms-4">Real estate</span>
                </div>
                <div
                  class="col-4 d-flex justify-content-between align-items-center"
                >
                  <div>
                    <span class="fz-14">40.20 L</span>
                    <br />
                    <span class="fz-12" style="color: #63bf97">+5.01 L</span>
                  </div>
                  <div class="fz-25" style="color: #b0b0b0">></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="inv-detail ps-4">
          <div class="row">
            <div class="col-12">
              <img src="flag.png" alt="Profile Picture" />
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <span class="fz-13">All Weather Investing</span>
              <br />
              <span class="fz-10" style="color: #b0b0b0"
                >Build a foundation with a portfolio of equity, gold & fixed
                income ETFs</span
              >
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-12">
              <div class="fz-10" style="color: #b0b0b0">CAGR</div>
              <div class="fz-12" style="color: #63bf97">11.45 %</div>
            </div>
          </div>
          <div class="row mt-3 fz-14" style="color: #f58024">
            <div class="col-12">Invest now</div>
          </div>
          <div class="row mt-4">
            <div class="col-12">
              <img src="woman-si.png" alt="Profile Picture" />
            </div>
          </div>
        </div>
      </div>
      <div
        class="row m-0 mt-4 px-3 py-4 border-radius-10"
        style="background-color: #ffffff"
      >
        <div class="col-12">
          <div class="row">
            <div
              class="col-12 d-flex justify-content-between align-items-center"
            >
              <span class="fz-16">Investments across family members</span>
              <div>
                <img src="plus.png" class="me-2" />
                <span class="fz-14" style="color: #f58024"
                  >Add family member</span
                >
              </div>
            </div>
          </div>
          <div class="row mt-5 d-flex justify-content-between">
            <div
              class="p-3 border-radius-10 feedback-w"
              style="background-color: #f8f8f8"
            >
              <div class="row">
                <div
                  class="col-12 d-flex justify-content-between align-items-center"
                >
                  <div class="d-flex">
                    <div
                      class="family-pic d-flex justify-content-center align-items-center me-2"
                    >
                      <img src="profile1.png" alt="" />
                    </div>
                    <span class="fz-14 mt-1">Prithviraj</span>
                  </div>
                  <div class="fz-14" style="font-weight: bold">10.45 L</div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 fz-12" style="color: #00000080">
                  <span class="mutual-mar-l">Mutual funds 6.45 L</span>
                </div>
              </div>
            </div>
            <div
              class="p-3 border-radius-10 feedback-w"
              style="background-color: #f8f8f8"
            >
              <div class="row">
                <div
                  class="col-12 d-flex justify-content-between align-items-center"
                >
                  <div class="d-flex">
                    <div
                      class="family-pic d-flex justify-content-center align-items-center me-2"
                    >
                      <img src="profile2.png" alt="" />
                    </div>
                    <span class="mt-1 fz-14">Ramona</span>
                  </div>
                  <div class="fz-14" style="font-weight: bold">10.45 L</div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 fz-12" style="color: #00000080">
                  <span style="margin-left: 38px">Mutual funds 6.45 L</span>
                </div>
              </div>
            </div>
            <div
              class="p-3 mt-4 border-radius-10 feedback-w"
              style="background-color: #f8f8f8"
            >
              <div class="row">
                <div
                  class="col-12 d-flex justify-content-between align-items-center"
                >
                  <div class="d-flex">
                    <div
                      class="family-pic d-flex justify-content-center align-items-center me-2"
                    >
                      <img src="profile3.png" alt="" />
                    </div>
                    <span class="fz-14 mt-1">Mohan</span>
                  </div>
                  <div class="fz-14" style="font-weight: bold">10.45 L</div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 fz-12" style="color: #00000080">
                  <span class="mutual-mar-l">Mutual funds 6.45 L</span>
                </div>
              </div>
            </div>
            <div
              class="p-3 mt-4 border-radius-10 feedback-w"
              style="background-color: #f8f8f8"
            >
              <div class="row">
                <div
                  class="col-12 d-flex justify-content-between align-items-center"
                >
                  <div class="d-flex">
                    <div
                      class="family-pic d-flex justify-content-center align-items-center me-2"
                    >
                      <img src="profile4.png" alt="" />
                    </div>
                    <span class="fz-14 mt-1">Kapoor</span>
                  </div>
                  <div class="fz-14" style="font-weight: bold">10.45 L</div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 fz-12" style="color: #00000080">
                  <span class="mutual-mar-l">Mutual funds 6.45 L</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row m-0 mt-4 p-3" style="background-color: #ffffff">
        <div class="col-12">
          <div class="row">
            <div class="col-12 d-flex justify-content-between">
              <span class="fz-16" style="font-weight: bold">Text</span>
              <img src="info.png" alt="" />
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-3">
              <mat-progress-bar
                mode="determinate"
                value="65"
              ></mat-progress-bar>
              <span class="fz-10" style="font-weight: bold">4.10 %</span>
              <br />
              <span class="fz-12">Lorem ipsum dolor sit amet</span>
            </div>
            <div class="col-3">
              <mat-progress-bar
                mode="determinate"
                value="75"
              ></mat-progress-bar>
              <span class="fz-10" style="font-weight: bold">4.10 %</span>
              <br />
              <span class="fz-12">Lorem ipsum </span>
            </div>
            <div class="col-3">
              <mat-progress-bar
                mode="determinate"
                value="15"
              ></mat-progress-bar>
              <span class="fz-10" style="font-weight: bold">4.10 %</span>
              <br />
              <span class="fz-12">Lorem ipsum dolor sit amet</span>
            </div>
            <div class="col-3">
              <mat-progress-bar
                mode="determinate"
                value="40"
              ></mat-progress-bar>
              <span class="fz-10" style="font-weight: bold">4.10 %</span>
              <br />
              <span class="fz-12">Lorem ipsum </span>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-3">
              <mat-progress-bar
                mode="determinate"
                value="25"
              ></mat-progress-bar>
              <span class="fz-10" style="font-weight: bold">4.10 %</span>
              <br />
              <span class="fz-12">Lorem ipsum</span>
            </div>
            <div class="col-3">
              <mat-progress-bar
                mode="determinate"
                value="20"
              ></mat-progress-bar>
              <span class="fz-10" style="font-weight: bold">4.10 %</span>
              <br />
              <span class="fz-12">Lorem ipsum </span>
            </div>
            <div class="col-3">
              <mat-progress-bar
                mode="determinate"
                value="60"
              ></mat-progress-bar>
              <span class="fz-10" style="font-weight: bold">4.10 %</span>
              <br />
              <span class="fz-12">Lorem ipsum </span>
            </div>
            <div class="col-3">
              <mat-progress-bar mode="determinate" value="5"></mat-progress-bar>
              <span class="fz-10" style="font-weight: bold">4.10 %</span>
              <br />
              <span class="fz-12">Lorem ipsum </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row m-0 mt-4">
        <div
          class="col-12 d-flex justify-content-center align-items-center p-2 fz-14 border-radius-10"
          style="background-color: #eff6ff; border: 1px solid #77aaff"
        >
          Highlight abnormal concentration in one of the asset class. Show ideal
          mix
        </div>
      </div>
      <div class="row m-0 mt-5">
        <div class="col-4 d-flex align-items-end">
          <img src="left.png" alt="" class="mt-5" />
        </div>
        <div class="col-4">
          <div class="row mt-5">
            <div class="col-12 d-flex text-center align-items-center">
              <span class="fz-30"> We want to make you <b>rich</b></span>
            </div>
          </div>
          <div class="row mt-4">
            <div
              class="col-12 d-flex justify-content-center align-items-center"
            >
              <button
                style="background-color: #272727"
                class="px-4 py-2 text-light mt-2 border-radius-10 fz-16"
              >
                Learn more
              </button>
            </div>
          </div>
        </div>
        <div class="col-4">
          <img src="right.png" alt="" />
        </div>
      </div>
      <div
        class="row m-0 mb-4 mt-5 px-3 py-4 border-radius-10"
        style="background-color: #ffffff"
      >
        <div class="col-12">
          <div class="row">
            <div
              class="col-12 d-flex justify-content-between align-items-center"
            >
              <span class="fz-16">Investments across family members</span>
              <div>
                <img src="plus.png" class="me-2" />
                <span class="fz-14" style="color: #f58024"
                  >Add family member</span
                >
              </div>
            </div>
          </div>
          <div class="row mt-5 d-flex justify-content-between">
            <div
              class="p-3 border-radius-10 feedback-w"
              style="background-color: #f8f8f8"
            >
              <div class="row">
                <div
                  class="col-12 d-flex justify-content-between align-items-center"
                >
                  <div class="d-flex">
                    <div
                      class="family-pic d-flex justify-content-center align-items-center me-2"
                    >
                      <img src="profile1.png" alt="" />
                    </div>
                    <span class="fz-14 mt-1">Prithviraj</span>
                  </div>
                  <div class="fz-14" style="font-weight: bold">10.45 L</div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 fz-12" style="color: #00000080">
                  <span class="mutual-mar-l">Mutual funds 6.45 L</span>
                </div>
              </div>
            </div>
            <div
              class="p-3 border-radius-10 feedback-w"
              style="background-color: #f8f8f8"
            >
              <div class="row">
                <div
                  class="col-12 d-flex justify-content-between align-items-center"
                >
                  <div class="d-flex">
                    <div
                      class="family-pic d-flex justify-content-center align-items-center me-2"
                    >
                      <img src="profile2.png" alt="" />
                    </div>
                    <span class="mt-1 fz-14">Ramona</span>
                  </div>
                  <div class="fz-14" style="font-weight: bold">10.45 L</div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 fz-12" style="color: #00000080">
                  <span style="margin-left: 38px">Mutual funds 6.45 L</span>
                </div>
              </div>
            </div>
            <div
              class="p-3 mt-4 border-radius-10 feedback-w"
              style="background-color: #f8f8f8"
            >
              <div class="row">
                <div
                  class="col-12 d-flex justify-content-between align-items-center"
                >
                  <div class="d-flex">
                    <div
                      class="family-pic d-flex justify-content-center align-items-center me-2"
                    >
                      <img src="profile3.png" alt="" />
                    </div>
                    <span class="fz-14 mt-1">Mohan</span>
                  </div>
                  <div class="fz-14" style="font-weight: bold">10.45 L</div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 fz-12" style="color: #00000080">
                  <span class="mutual-mar-l">Mutual funds 6.45 L</span>
                </div>
              </div>
            </div>
            <div
              class="p-3 mt-4 border-radius-10 feedback-w"
              style="background-color: #f8f8f8"
            >
              <div class="row">
                <div
                  class="col-12 d-flex justify-content-between align-items-center"
                >
                  <div class="d-flex">
                    <div
                      class="family-pic d-flex justify-content-center align-items-center me-2"
                    >
                      <img src="profile4.png" alt="" />
                    </div>
                    <span class="fz-14 mt-1">Kapoor</span>
                  </div>
                  <div class="fz-14" style="font-weight: bold">10.45 L</div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 fz-12" style="color: #00000080">
                  <span class="mutual-mar-l">Mutual funds 6.45 L</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="calender-colu px-4">
      <div class="row m-0 py-4">
        <div class="col-12">
          <span class="wealth-f">Wealth calendar</span>
        </div>
      </div>
      <div class="row m-0 mt-2">
        <div class="col-12 d-flex align-items-center">
          <div class="date-box text-center">
            15 <br />
            Dec
          </div>
          <div class="date-text ms-3">
            FD of Rs 1,50,000 in Axis Bank maturing
          </div>
        </div>
      </div>
      <div class="row m-0 mt-2">
        <div class="col-12 d-flex align-items-center">
          <div class="date-box text-center">
            25 <br />
            Dec
          </div>
          <div class="date-text ms-3">
            FD of Rs 1,50,000 in Axis Bank maturing
          </div>
        </div>
      </div>
      <div class="row m-0 mt-2">
        <div class="col-12 d-flex align-items-center">
          <div class="date-box text-center">
            15 <br />
            Jan
          </div>
          <div class="date-text ms-3">
            FD of Rs 1,50,000 in Axis Bank maturing
          </div>
        </div>
      </div>
      <div class="row m-0 mt-2">
        <div class="col-12 d-flex align-items-center">
          <div class="date-box text-center selected-date">
            24 <br />
            Feb
          </div>
          <div class="date-text ms-3">
            FD of Rs 1,50,000 in Axis Bank maturing
          </div>
        </div>
      </div>
      <div class="row m-0 mt-2">
        <div class="col-12 d-flex align-items-center">
          <div class="date-box text-center">
            26 <br />
            Feb
          </div>
          <div class="date-text ms-3">
            FD of Rs 1,50,000 in Axis Bank maturing
          </div>
        </div>
      </div>
      <div class="row m-0 mt-2">
        <div class="col-12 d-flex align-items-center">
          <div class="date-box text-center">
            28 <br />
            Feb
          </div>
          <div class="date-text ms-3">
            FD of Rs 1,50,000 in Axis Bank maturing
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12 d-flex justify-content-center align-items-center">
          <button class="me-5 navi-btn1"><</button>
          <button class="navi-btn2">></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row footer m-0 p-0">
    <div class="col-12 d-flex justify-content-center">
      <img src="footer.png" alt="" />
    </div>
  </div>
</div>
<div class="container-fluid main-div p-0 mobileVi">
  <div class="profile-back px-2 py-4">
    <div class="row">
      <div class="col-6"></div>
      <div class="col-6 d-flex justify-content-around align-items-center">
        <div class="icon-back-mo p-1">
          <img src="notification.png" class="notification" alt="notification" />
        </div>
        <div class="icon-back-mo p-1">
          <img src="support.png" class="notification" alt="notification" />
        </div>
        <div class="icon-back-mo p-1">
          <img src="search.png" class="notification" alt="Profile Picture" />
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 d-flex justify-content-center">
        <div class="profile-pic mt-4">
          <img src="face.png" alt="Profile Picture" />
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 text-center">
        <span class="fz-14">Hello <b>Joy</b></span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 px-5">
        <div class="row">
          <div class="col-12 d-flex justify-content-between">
            <div class="total-fam-w">
              TOTAL FAMILY WEALTH <br />
              <span class="crFz fw-700">2.58 CR</span>
            </div>
            <div class="d-flex">
              <span class="plus4 me-4">+4</span
              ><span class="memb">Members</span>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12 d-flex">
            <div>
              <span class="fz-12" style="color: #ff7101">Invested</span>
              <br />
              <span class="fz-14 fw-700">2,30,00,000</span>
            </div>
            <div class="ms-5">
              <span class="fz-12" style="color: #ff7101">Gain/Loss</span>
              <br />
              <span class="fz-14 fw-700">+ 28,00,435</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row px-4">
    <div
      class="col-12 border-radius-10 p-3"
      style="
        background: rgba(255, 255, 255, 1);
        box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.04);
      "
    >
      <div class="row">
        <div class="col-11 d-flex">
          <div class="date-box p-2 text-center selected-date">
            <span clas="fz-20">24</span> <br />
            <span clas="fz-16">Feb</span>
          </div>
          <div class="ms-3">
            <span class="fz-10" style="color: rgba(176, 176, 176, 1)"
              >Wealth calendar</span
            >
            <br />
            <span class="date-text">
              FD of Rs 1,50,000 in Axis Bank maturing</span
            >
          </div>
        </div>
        <div class="col-1 d-flex align-items-center">
          <img src="right-or.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="row ps-4 mt-4">
    <div class="col-12 d-flex" style="overflow: hidden">
      <div class="inv-box text-center px-2" style="border: 1px solid #f58024">
        <span class="fz-16" style="color: #b0b0b0">Investments</span>
        <br />
        <span class="fz-20">82.05 L</span>
      </div>
      <div
        class="inv-box ms-4 text-center px-2"
        style="border: 1px solid whitesmoke"
      >
        <span class="fz-16" style="color: #b0b0b0">Insurance</span>
        <br />
        <span class="fz-10" style="color: #b0b0b0">Coming soon</span>
      </div>
      <div
        class="inv-box ms-4 text-center px-2"
        style="border: 1px solid whitesmoke"
      >
        <span class="fz-16" style="color: #b0b0b0">Insurance</span>
        <br />
        <span class="fz-10" style="color: #b0b0b0">Coming soon</span>
      </div>
    </div>
  </div>
  <div class="row mt-4 px-4">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-8 d-flex align-items-center">
              <div
                class="icon-back d-flex justify-content-center align-items-center"
              >
                <img src="mutual-fund.png" alt="Profile Picture" />
              </div>
              <span class="fz-14 ms-4">Mutual funds</span>
            </div>
            <div class="col-4 d-flex align-items-center">
              <div>
                <span class="fz-14">40.20 L</span>
                <br />
                <span class="fz-12" style="color: #63bf97">+5.01 L</span>
              </div>
              <div class="fz-25 ms-4" style="color: #b0b0b0">></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row pt-3 mt-2" style="border-top: 1px solid whitesmoke">
        <div class="col-12">
          <div class="row">
            <div class="col-8 d-flex align-items-center">
              <div
                class="icon-back d-flex justify-content-center align-items-center"
              >
                <img src="insurance.png" alt="Profile Picture" />
              </div>
              <span class="fz-14 ms-4">Insurance</span>
            </div>
            <div class="col-4 d-flex align-items-center">
              <div>
                <span class="fz-14">40.20 L</span>
                <br />
                <span class="fz-12" style="color: #63bf97">+5.01 L</span>
              </div>
              <div class="fz-25 ms-4" style="color: #b0b0b0">></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row pt-3 mt-2" style="border-top: 1px solid whitesmoke">
        <div class="col-12">
          <div class="row">
            <div class="col-8 d-flex align-items-center">
              <div
                class="icon-back d-flex justify-content-center align-items-center"
              >
                <img src="stock.png" alt="Profile Picture" />
              </div>
              <span class="fz-14 ms-4">Stocks</span>
            </div>
            <div class="col-4 d-flex align-items-center">
              <div>
                <span class="fz-14">40.20 L</span>
                <br />
                <span class="fz-12" style="color: #63bf97">+5.01 L</span>
              </div>
              <div class="fz-25 ms-4" style="color: #b0b0b0">></div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="row pt-3 pb-2 mt-2"
        style="
          border-top: 1px solid whitesmoke;
          border-bottom: 1px solid whitesmoke;
        "
      >
        <div class="col-12">
          <div class="row">
            <div class="col-8 d-flex align-items-center">
              <div
                class="icon-back d-flex justify-content-center align-items-center"
              >
                <img src="realEstate.png" alt="Profile Picture" />
              </div>
              <span class="fz-14 ms-4">Real estate</span>
            </div>
            <div class="col-4 d-flex align-items-center">
              <div>
                <span class="fz-14">40.20 L</span>
                <br />
                <span class="fz-12" style="color: #63bf97">+5.01 L</span>
              </div>
              <div class="fz-25 ms-4" style="color: #b0b0b0">></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4 px-4">
    <div class="col-12">
      <div class="row">
        <div class="col-6 ps-4">
          <div class="row">
            <div class="col-12">
              <img src="flag.png" alt="Profile Picture" />
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-12">
              <span class="fz-13">All Weather Investing</span>
              <br />
              <span class="fz-10" style="color: #b0b0b0"
                >Build a foundation with a portfolio of equity, gold & fixed
                income ETFs</span
              >
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-12">
              <div class="fz-10" style="color: #b0b0b0">CAGR</div>
              <div class="fz-12 fw-700" style="color: #63bf97">11.45 %</div>
            </div>
          </div>
          <div class="row mt-3 fz-14" style="color: #f58024">
            <div class="col-12 fw-700">Invest now</div>
          </div>
        </div>
        <div class="col-6 d-flex align-items-end">
          <img src="woman-si.png" alt="Profile Picture" />
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4 px-4">
    <div
      class="col-12 border-radius-10 p-3 d-flex justify-content-between align-items-center"
      style="
        background: rgba(255, 255, 255, 1);
        box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.04);
        border: 1px solid lightgray;
      "
    >
      <span class="fz-16">Investments across family members</span>
      <img src="down-vec.png" alt="" />
    </div>
  </div>
  <div class="row mt-3 px-4">
    <div
      class="col-12 border-radius-10 p-3 d-flex justify-content-between align-items-center"
      style="
        background: rgba(255, 255, 255, 1);
        box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.04);
        border: 1px solid lightgray;
      "
    >
      <span class="fz-16">Investments across family members</span>
      <img src="down-vec.png" alt="" />
    </div>
  </div>
  <div class="row mt-3 px-4">
    <div
      class="col-12 border-radius-10 p-3 d-flex justify-content-between align-items-center"
      style="
        background: rgba(255, 255, 255, 1);
        box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.04);
        border: 1px solid lightgray;
      "
    >
      <span class="fz-16">Investments across family members</span>
      <img src="up-vec.png" alt="" />
    </div>
  </div>
  <div class="row px-4 mt-2">
    <div
      class="p-3 border-radius-10 col-12"
      style="background: rgba(248, 248, 248, 1)"
    >
      <div class="row">
        <div class="col-12 d-flex justify-content-between align-items-center">
          <div class="d-flex">
            <div
              class="family-pic d-flex justify-content-center align-items-center me-2"
            >
              <img src="profile1.png" alt="" />
            </div>
            <span class="fz-14 mt-1">Prithviraj</span>
          </div>
          <div class="fz-14" style="font-weight: bold">10.45 L</div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 fz-12" style="color: #00000080">
          <span class="mutual-mar-l">Mutual funds 6.45 L</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row px-4 mt-2">
    <div
      class="p-3 border-radius-10 col-12"
      style="background: rgba(248, 248, 248, 1)"
    >
      <div class="row">
        <div class="col-12 d-flex justify-content-between align-items-center">
          <div class="d-flex">
            <div
              class="family-pic d-flex justify-content-center align-items-center me-2"
            >
              <img src="profile3.png" alt="" />
            </div>
            <span class="fz-14 mt-1">Mohan</span>
          </div>
          <div class="fz-14" style="font-weight: bold">10.45 L</div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 fz-12" style="color: #00000080">
          <span class="mutual-mar-l">Mutual funds 6.45 L</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row px-4 mt-2">
    <div
      class="p-3 border-radius-10 col-12"
      style="background: rgba(248, 248, 248, 1)"
    >
      <div class="row">
        <div class="col-12 d-flex justify-content-between align-items-center">
          <div class="d-flex">
            <div
              class="family-pic d-flex justify-content-center align-items-center me-2"
            >
              <img src="profile2.png" alt="" />
            </div>
            <span class="fz-14 mt-1">Ramona</span>
          </div>
          <div class="fz-14" style="font-weight: bold">10.45 L</div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 fz-12" style="color: #00000080">
          <span class="mutual-mar-l">Mutual funds 6.45 L</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row px-4 mt-2">
    <div
      class="p-3 border-radius-10 col-12"
      style="background: rgba(248, 248, 248, 1)"
    >
      <div class="row">
        <div class="col-12 d-flex justify-content-between align-items-center">
          <div class="d-flex">
            <div
              class="family-pic d-flex justify-content-center align-items-center me-2"
            >
              <img src="profile4.png" alt="" />
            </div>
            <span class="fz-14 mt-1">Kapoor</span>
          </div>
          <div class="fz-14" style="font-weight: bold">10.45 L</div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 fz-12" style="color: #00000080">
          <span class="mutual-mar-l">Mutual funds 6.45 L</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row px-4 mt-4">
    <div>
      <img src="plus.png" class="me-2" />
      <span class="fz-14" style="color: #f58024">Add family member</span>
    </div>
  </div>
  <div class="row mt-4 px-4">
    <div
      class="col-12 p-3 border-radius-10"
      style="background-color: #ffffff; border: 1px solid lightgray"
    >
      <div class="row">
        <div class="col-12 d-flex justify-content-between">
          <span class="fz-16" style="font-weight: bold">Text</span>
          <img src="info.png" alt="" />
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-6">
          <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>
          <span class="fz-10" style="font-weight: bold">4.10 %</span>
          <br />
          <span class="fz-12">Lorem ipsum dolor sit amet</span>
        </div>
        <div class="col-6">
          <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
          <span class="fz-10" style="font-weight: bold">4.10 %</span>
          <br />
          <span class="fz-12">Lorem ipsum </span>
        </div>
        <div class="col-6 mt-2">
          <mat-progress-bar mode="determinate" value="15"></mat-progress-bar>
          <span class="fz-10" style="font-weight: bold">4.10 %</span>
          <br />
          <span class="fz-12">Lorem ipsum</span>
        </div>
        <div class="col-6 mt-2">
          <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
          <span class="fz-10" style="font-weight: bold">4.10 %</span>
          <br />
          <span class="fz-12">Lorem ipsum </span>
        </div>
        <div class="col-6 mt-2">
          <mat-progress-bar mode="determinate" value="25"></mat-progress-bar>
          <span class="fz-10" style="font-weight: bold">4.10 %</span>
          <br />
          <span class="fz-12">Lorem ipsum</span>
        </div>
        <div class="col-6 mt-2">
          <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
          <span class="fz-10" style="font-weight: bold">4.10 %</span>
          <br />
          <span class="fz-12">Lorem ipsum </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4 px-4">
    <div
      class="col-12 d-flex text-center align-items-center p-3 fz-14 border-radius-10"
      style="background-color: #eff6ff; border: 1px solid #77aaff"
    >
      Highlight abnormal concentration in one of the asset class. Show ideal mix
    </div>
  </div>
  <div class="row mt-4 px-4 d-flex justify-content-end">
    <div class="col-6 text-end">
      <span class="fz-20"> We want to make you <b>rich</b></span>
    </div>
  </div>
  <div class="row mt-4 px-4">
    <div class="col-6 d-flex align-items-end">
      <img src="left.png" alt="" />
    </div>

    <div class="col-6 text-end">
      <button
        style="background-color: #272727"
        class="py-3 px-4 text-light border-radius-10 fz-16"
      >
        Learn more
      </button>
    </div>
  </div>
  
  <div class="row mt-5 px-4">
    <div
      class="col-12 border-radius-10 p-3 d-flex justify-content-between align-items-center"
      style="
        background: rgba(255, 255, 255, 1);
        box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.04);
        border: 1px solid lightgray;
      "
    >
      <span class="fz-16">Investments across family members</span>
      <img src="up-vec.png" alt="" />
    </div>
  </div>
  <div class="row px-4 mt-2">
    <div
      class="p-3 border-radius-10 col-12"
      style="background: rgba(248, 248, 248, 1)"
    >
      <div class="row">
        <div class="col-12 d-flex justify-content-between align-items-center">
          <div class="d-flex">
            <div
              class="family-pic d-flex justify-content-center align-items-center me-2"
            >
              <img src="profile1.png" alt="" />
            </div>
            <span class="fz-14 mt-1">Prithviraj</span>
          </div>
          <div class="fz-14" style="font-weight: bold">10.45 L</div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 fz-12" style="color: #00000080">
          <span class="mutual-mar-l">Mutual funds 6.45 L</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row px-4 mt-2">
    <div
      class="p-3 border-radius-10 col-12"
      style="background: rgba(248, 248, 248, 1)"
    >
      <div class="row">
        <div class="col-12 d-flex justify-content-between align-items-center">
          <div class="d-flex">
            <div
              class="family-pic d-flex justify-content-center align-items-center me-2"
            >
              <img src="profile3.png" alt="" />
            </div>
            <span class="fz-14 mt-1">Mohan</span>
          </div>
          <div class="fz-14" style="font-weight: bold">10.45 L</div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 fz-12" style="color: #00000080">
          <span class="mutual-mar-l">Mutual funds 6.45 L</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row px-4 mt-2">
    <div
      class="p-3 border-radius-10 col-12"
      style="background: rgba(248, 248, 248, 1)"
    >
      <div class="row">
        <div class="col-12 d-flex justify-content-between align-items-center">
          <div class="d-flex">
            <div
              class="family-pic d-flex justify-content-center align-items-center me-2"
            >
              <img src="profile2.png" alt="" />
            </div>
            <span class="fz-14 mt-1">Ramona</span>
          </div>
          <div class="fz-14" style="font-weight: bold">10.45 L</div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 fz-12" style="color: #00000080">
          <span class="mutual-mar-l">Mutual funds 6.45 L</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row px-4 mt-2 mb-5">
    <div
      class="p-3 border-radius-10 col-12"
      style="background: rgba(248, 248, 248, 1)"
    >
      <div class="row">
        <div class="col-12 d-flex justify-content-between align-items-center">
          <div class="d-flex">
            <div
              class="family-pic d-flex justify-content-center align-items-center me-2"
            >
              <img src="profile4.png" alt="" />
            </div>
            <span class="fz-14 mt-1">Kapoor</span>
          </div>
          <div class="fz-14" style="font-weight: bold">10.45 L</div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 fz-12" style="color: #00000080">
          <span class="mutual-mar-l">Mutual funds 6.45 L</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row fixed-bottom mt-2 px-4 py-2" style="background-color: #ffffff">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <img src="home-m.png" alt="Icon" />
      <img src="wealth-m.png" alt="Icon" />
      <img src="invest-m.png" alt="Icon" />
      <img src="profile-m.png" alt="Icon" />
      <img src="more.png" alt="Icon" />
    </div>
  </div>
</div>
